{% extends 'base.html.twig' %}

{% block title %}New Cadeaux{% endblock %}

{% block body %}
    <h1>Create new Cadeaux</h1>

    {{ include('admin_gateaux/_form.html.twig') }}

    <a href="{{ path('admin_gateaux_index') }}">back to list</a>
{% endblock %}
