{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<h1>success</h1>

<p>
{{ nom }} <br>
né(e) le {{ date }} <br>


agé(e) de {{ age['y'] }}  ans. <br>

</p>
{% endblock %}
