{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<h1>Bien reçu</h1>
<br>
<p>
 

vous serez recontacté(e) au plus vite à l'adresse email "{{ mail }}"

</p>
{% endblock %}
